body { 
	width: 100%; 
}

/*#center-container { 
	max-width: 900px; 
	text-align: left; 
	margin: 0px auto; 
}

#cv-header {

}*/


.wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    min-width: 100%;
}